# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [227]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [194]:
# Calculate the total number of unique schools
#school_count = [school_data].unique()

unique_schools_df = pd.DataFrame(school_data)
unique_schools_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [214]:
school_count= unique_schools_df["school_name"].count()
school_count

15

In [196]:
# Calculate the total number of students
total_student_df = pd.DataFrame(school_data_complete) 
total_students=total_student_df["student_name"].count()
total_students

39170

In [197]:
# Calculate the total budget
total_budget_df = pd.DataFrame(school_data) 
total_budget = total_budget_df["budget"].sum()
total_budget

24649428

In [198]:
# Calculate the average (mean) math score
average_math_score_df = pd.DataFrame(school_data_complete)
average_math_score = average_math_score_df["math_score"].mean()
average_math_score

78.98537145774827

In [199]:
# Calculate the average (mean) reading score
average_read_score_df = pd.DataFrame(school_data_complete)
average_reading_score = average_read_score_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [200]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count =  school_data_complete.loc[school_data_complete["math_score"]>= 70 ].count()["Student ID"]
#NOT USED print(passing_math_count)

#NOT USED student_count = school_data_complete["Student ID"].count()
#NOT USED print(student_count)

passing_math_percentage = passing_math_count/school_data_complete["Student ID"].count()*100
passing_math_percentage

74.9808526933878

In [201]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)].count()["Student ID"]
passing_reading_percentage = passing_reading_count/school_data_complete["Student ID"].count()*100
passing_reading_percentage

85.80546336482001

In [211]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) * (school_data_complete["reading_score"] >= 70)
].count()["student_name"]

print(passing_math_reading_count)

total_student_count = school_data_complete["Student ID"].count()

overall_passing_rate = passing_math_reading_count / total_student_count * 100
overall_passing_rate

25528

65.17232575950983

In [213]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([{"Total School": school_count,
                                "Total Students": total_students,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score, 
                                "% Passing Math": passing_math_percentage,
                                "% Passing Reading": passing_reading_percentage,
                                "% Overall Passing": overall_passing_rate}]) 

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.6f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.6f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.6f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)


# Display the DataFrame
district_summary

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.877840,74.980853%,85.805463%,65.17%

## School Summary

In [13]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [74]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
print(per_school_budget)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [75]:
print(per_school_capita)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [113]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math_1 = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()
school_passing_math = (school_passing_math_1 / per_school_counts) * 100

school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [114]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading_1 = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()

school_passing_reading = (school_passing_reading_1 / per_school_counts) * 100

print(school_passing_reading)

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [115]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[(school_data_complete["math_score"] >= 70) &  (school_data_complete["reading_score"] >= 70)]
passing_math_and_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [233]:
# Use the provided code to calculate the passing rates

#per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
                                           

per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

overall_passing_percentage = ((per_school_passing_math & per_school_passing_reading) / per_school_counts ) * 100

overall_passing_percentage

Bailey High School       66.318328
Cabrera High School      82.723358
Figueroa High School      8.952187
Ford High School          2.774735
Griffin High School      88.419619
Hernandez High School    66.364617
Holden High School       92.505855
Huang High School        11.107302
Johnson High School      64.713296
Pena High School         94.178794
Rodriguez High School    51.412853
Shelton High School      88.131743
Thomas High School       65.871560
Wilson High School       90.932983
Wright High School       92.444444
dtype: float64

In [118]:

# Create a DataFrame called `per_school_summary` with columns for the calculations above.


# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
#per_school_summary


school_summary = pd.DataFrame({
                            "School Type": school_types,
                            "Total Students": per_school_counts,
                            "Total School Budget": per_school_budget,
                            "Per Student Capita": per_school_capita,
                            "Average Math Score": per_school_math,
                            "Average Reading Score": per_school_reading,
                            "% Passing Math": school_passing_math,
                            "% Passing Reading": school_passing_reading,
                            "% Overall Passing": overall_passing_percentage})


school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,}".format)
school_summary["Per Student Capita"] = school_summary["Per Student Capita"].map("${:,}".format)



school_summary

,School Type,Total Students,Total School Budget,Per Student Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.0",$628.0,77.048432,81.033963,66.680064,81.933280,66.318328
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.061895,83.975780,94.133477,97.039828,82.723358
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.711767,81.158020,65.988471,80.739234,8.952187
Ford High School,District,2739,"$1,763,916.0",$644.0,77.102592,80.746258,68.309602,79.299014,2.774735
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.351499,83.816757,93.392371,97.138965,88.419619
Hernandez High School,District,4635,"$3,022,020.0",$652.0,77.289752,80.934412,66.752967,80.862999,66.364617
Holden High School,Charter,427,"$248,087.0",$581.0,83.803279,83.814988,92.505855,96.252927,92.505855
Huang High School,District,2917,"$1,910,635.0",$655.0,76.629414,81.182722,65.683922,81.316421,11.107302
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.072464,80.966394,66.057551,81.222432,64.713296
Pena High School,Charter,962,"$585,858.0",$609.0,83.839917,84.044699,94.594595,95.945946,94.178794
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.842711,80.744686,66.366592,80.220055,51.412853
Shelton High School,Charter,1761,"$1,056,600.0",$600.0,83.359455,83.725724,93.867121,95.854628,88.131743
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.418349,83.848930,93.272171,97.308869,65.871560
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.274201,83.989488,93.867718,96.539641,90.932983
Wright High School,Charter,1800,"$1,049,400.0",$583.0,83.682222,83.955000,93.333333,96.611111,92.444444

## Highest-Performing Schools (by % Overall Passing)

In [125]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows

#Top_5_schools_df = per_school_summary_df.sort_values(["% Overall Passing"],ascending = False)
#Top_5_schools_df.head(5)

top_five_schools_df = school_summary.sort_values(["% Overall Passing"] ,ascending = False)
top_five_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Pena High School,Charter,962,"$585,858.0",$609.0,83.839917,84.044699,94.594595,95.945946,94.178794
Holden High School,Charter,427,"$248,087.0",$581.0,83.803279,83.814988,92.505855,96.252927,92.505855
Wright High School,Charter,1800,"$1,049,400.0",$583.0,83.682222,83.955000,93.333333,96.611111,92.444444
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.274201,83.989488,93.867718,96.539641,90.932983
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.351499,83.816757,93.392371,97.138965,88.419619

## Bottom Performing Schools (By % Overall Passing)

In [126]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
top_five_schools_df = school_summary.sort_values(["% Overall Passing"] ,ascending = True)
top_five_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Ford High School,District,2739,"$1,763,916.0",$644.0,77.102592,80.746258,68.309602,79.299014,2.774735
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.711767,81.158020,65.988471,80.739234,8.952187
Huang High School,District,2917,"$1,910,635.0",$655.0,76.629414,81.182722,65.683922,81.316421,11.107302
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.842711,80.744686,66.366592,80.220055,51.412853
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.072464,80.966394,66.057551,81.222432,64.713296

## Math Scores by Grade

In [142]:
# Create a Series of scores by grade levels using conditionals.
new_ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


# Group each school Series by the school name for the average math score.
new_ninth_grade_math_scores = new_ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Group each school Series by the school name for the average reading score.
new_ninth_grade_reading_scores = new_ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores =eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]


# Combine each Series for average math scores by school into single data frame.
new_math_scores_by_grade = pd.DataFrame({
                "9th": new_ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})
# new_math_scores_by_grade.head()


# Combine each Series for average reading scores by school into single data frame.
new_reading_scores_by_grade = pd.DataFrame({
               "9th": new_ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})
# new_reading_scores_by_grade.head()

# Format each grade column.
new_math_scores_by_grade["9th"] = new_math_scores_by_grade["9th"].map("{:.1f}".format)
new_math_scores_by_grade["10th"] = new_math_scores_by_grade["10th"].map("{:.1f}".format)
new_math_scores_by_grade["11th"] = new_math_scores_by_grade["11th"].map("{:.1f}".format)
new_math_scores_by_grade["12th"] = new_math_scores_by_grade["12th"].map("{:.1f}".format)
new_math_scores_by_grade = new_math_scores_by_grade[["9th","10th", "11th", "12th"]]

new_reading_scores_by_grade["9th"] = new_reading_scores_by_grade["9th"].map("{:.1f}".format)
new_reading_scores_by_grade["10th"] = new_reading_scores_by_grade["10th"].map("{:.1f}".format)
new_reading_scores_by_grade["11th"] = new_reading_scores_by_grade["11th"].map("{:.1f}".format)
new_reading_scores_by_grade["12th"] = new_reading_scores_by_grade["12th"].map("{:.1f}".format)
new_reading_scores_by_grade = new_reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

# new_math_scores_by_grade

# Remove the index.
new_math_scores_by_grade.index.name = None

# Display the data frame
new_math_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

## Reading Score by Grade

In [143]:
## Remove the index.
new_reading_scores_by_grade.index.name = None

# Display the data frame
new_reading_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

## Scores by School Spending

In [156]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

# Categorize spending based on the bins.
school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
school_summary

,School Type,Total Students,Total School Budget,Per Student Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.0",$628.0,77.048432,81.033963,66.680064,81.933280,66.318328,$585-630
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.061895,83.975780,94.133477,97.039828,82.723358,<$585
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.711767,81.158020,65.988471,80.739234,8.952187,$630-645
Ford High School,District,2739,"$1,763,916.0",$644.0,77.102592,80.746258,68.309602,79.299014,2.774735,$630-645
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.351499,83.816757,93.392371,97.138965,88.419619,$585-630
Hernandez High School,District,4635,"$3,022,020.0",$652.0,77.289752,80.934412,66.752967,80.862999,66.364617,$645-680
Holden High School,Charter,427,"$248,087.0",$581.0,83.803279,83.814988,92.505855,96.252927,92.505855,<$585
Huang High School,District,2917,"$1,910,635.0",$655.0,76.629414,81.182722,65.683922,81.316421,11.107302,$645-680
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.072464,80.966394,66.057551,81.222432,64.713296,$645-680
Pena High School,Charter,962,"$585,858.0",$609.0,83.839917,84.044699,94.594595,95.945946,94.178794,$585-630
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.842711,80.744686,66.366592,80.220055,51.412853,$630-645
Shelton High School,Charter,1761,"$1,056,600.0",$600.0,83.359455,83.725724,93.867121,95.854628,88.131743,$585-630
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.418349,83.848930,93.272171,97.308869,65.871560,$630-645
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.274201,83.989488,93.867718,96.539641,90.932983,<$585
Wright High School,Charter,1800,"$1,049,400.0",$583.0,83.682222,83.955000,93.333333,96.611111,92.444444,<$585

In [158]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = school_summary.copy()

school_spending_df.head()

,School Type,Total Students,Total School Budget,Per Student Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.0",$628.0,77.048432,81.033963,66.680064,81.933280,66.318328,$585-630
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.061895,83.975780,94.133477,97.039828,82.723358,<$585
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.711767,81.158020,65.988471,80.739234,8.952187,$630-645
Ford High School,District,2739,"$1,763,916.0",$644.0,77.102592,80.746258,68.309602,79.299014,2.774735,$630-645
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.351499,83.816757,93.392371,97.138965,88.419619,$585-630

In [159]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.0",$628.0,77.048432,81.033963,66.680064,81.933280,66.318328,$585-630
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.061895,83.975780,94.133477,97.039828,82.723358,<$585
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.711767,81.158020,65.988471,80.739234,8.952187,$630-645
Ford High School,District,2739,"$1,763,916.0",$644.0,77.102592,80.746258,68.309602,79.299014,2.774735,$630-645
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.351499,83.816757,93.392371,97.138965,88.419619,$585-630
Hernandez High School,District,4635,"$3,022,020.0",$652.0,77.289752,80.934412,66.752967,80.862999,66.364617,$645-680
Holden High School,Charter,427,"$248,087.0",$581.0,83.803279,83.814988,92.505855,96.252927,92.505855,<$585
Huang High School,District,2917,"$1,910,635.0",$655.0,76.629414,81.182722,65.683922,81.316421,11.107302,$645-680
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.072464,80.966394,66.057551,81.222432,64.713296,$645-680
Pena High School,Charter,962,"$585,858.0",$609.0,83.839917,84.044699,94.594595,95.945946,94.178794,$585-630
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.842711,80.744686,66.366592,80.220055,51.412853,$630-645
Shelton High School,Charter,1761,"$1,056,600.0",$600.0,83.359455,83.725724,93.867121,95.854628,88.131743,$585-630
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.418349,83.848930,93.272171,97.308869,65.871560,$630-645
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.274201,83.989488,93.867718,96.539641,90.932983,<$585
Wright High School,Charter,1800,"$1,049,400.0",$583.0,83.682222,83.955000,93.333333,96.611111,92.444444,<$585

In [161]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [163]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,89.651660
$585-630,81.899826,83.155286,87.133538,92.718205,84.262121
$630-645,78.518855,81.624473,73.484209,84.391793,32.252834
$645-680,76.997210,81.027843,66.164813,81.133951,47.395072

## Scores by School Size

In [175]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [178]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
school_spending_df["School Size"] = pd.cut(per_school_counts, size_bins, labels=group_names)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,"$3,124,928.0",$628.0,77.048432,81.033963,66.680064,81.933280,66.318328,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.061895,83.975780,94.133477,97.039828,82.723358,<$585,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.711767,81.158020,65.988471,80.739234,8.952187,$630-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.0",$644.0,77.102592,80.746258,68.309602,79.299014,2.774735,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.351499,83.816757,93.392371,97.138965,88.419619,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.0",$652.0,77.289752,80.934412,66.752967,80.862999,66.364617,$645-680,Large (2000-5000)
Holden High School,Charter,427,"$248,087.0",$581.0,83.803279,83.814988,92.505855,96.252927,92.505855,<$585,Small (<1000)
Huang High School,District,2917,"$1,910,635.0",$655.0,76.629414,81.182722,65.683922,81.316421,11.107302,$645-680,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.072464,80.966394,66.057551,81.222432,64.713296,$645-680,Large (2000-5000)
Pena High School,Charter,962,"$585,858.0",$609.0,83.839917,84.044699,94.594595,95.945946,94.178794,$585-630,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.842711,80.744686,66.366592,80.220055,51.412853,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.0",$600.0,83.359455,83.725724,93.867121,95.854628,88.131743,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.418349,83.848930,93.272171,97.308869,65.871560,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.274201,83.989488,93.867718,96.539641,90.932983,<$585,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.0",$583.0,83.682222,83.955000,93.333333,96.611111,92.444444,<$585,Medium (1000-2000)

In [180]:
# Calculate averages for the desired columns. 
size_math_scores = school_spending_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_spending_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = school_spending_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = school_spending_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = school_spending_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [181]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,93.342324
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,83.518145
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,45.322038

## Scores by School Type

In [184]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

type_math_scores = school_spending_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = school_spending_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_spending_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = school_spending_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = school_spending_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [186]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,86.901045
District,76.956733,80.966636,66.548453,80.799062,38.806188